@model CelloStore.ViewModels.Sales.PaymentMethod.CreateEditViewModel


<div class="container">
    <div class="page-header">
        <h4>Payment Method</h4>
    </div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false)
        
        @Html.HiddenFor(m => m.Id)
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.Name)</div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.Name, new { @class="form-control", maxlength="50"})</div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(m => m.Notes)</div>
                <div class="col-md-8">@Html.Kendo().EditorFor(m => m.Notes).Encode(false).HtmlAttributes(new { style="height:300px", data_maxhtmllength="1000", data_maxhtmllength_msg="Text must be shorter than 1000 chars"})</div>
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <button type="submit" id="btnSave" name="btnSave" class="k-button"><span class="fa fa-save"></span> Save</button>
                    <a href="@Url.Action("Index")" class="k-button"><span class="fa fa-undo"></span> Back to List</a>
                </div>
            </div>
        </div>
   }
</div>

<script>
    $(function () {
        var validatorOptions = {
            rules: {
                maxTextLength: function(textarea) {
                    if (textarea.is("[data-maxtextlength-msg]") && textarea.val() != "") {
                        var maxlength = textarea.attr("data-maxtextlength");
                        var value = textarea.data("kendoEditor").value();
                        return value.replace(/<[^>]+>/g, "").length <= maxlength;
                    }

                    return true;
                },
                maxHtmlLength: function(textarea) {
                    if (textarea.is("[data-maxhtmllength-msg]") && textarea.val() != "") {
                        var maxlength = textarea.attr("data-maxhtmllength");
                        var value = textarea.data("kendoEditor").value();
                        return value.length <= maxlength;
                    }

                    return true;
                }
            }
        };
        $("form:first").kendoValidator(validatorOptions);
        $("#Name").focus();
    });
</script>